* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header>p {
    color: white;
    font-family: 'Roboto';
    font-size: 36px;
    font-weight: 900;
}

.hItem {
    display: flex;
    /* why not work???*/
    justify-content: space-around;
    color: white;
    font-family: 'Roboto';
}

.hItem>p {
    margin: 20px;
}

.heroSection {
    background-color: #1F2937;
    color: white;
    height: 400px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.heroSection .topItem1 {
    width: 400px;
}

.topItem1 * {
    margin-bottom: 10px;
}

.topItem1 p {
    font-size: 18px;
    color: #E5E7EB
}

.topItem2 {
    background-color: gray;
    width: 400px;
    height: 200px;
}

.heroSection h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.heroSection button {
    background-color: #3882F6;
    color: white;
    padding: 5px 30px;
    border-radius: 5px;
    border: none;
    font-weight: bold;

}

.section2 {
    background-color: white;
    width: 1000px;
    margin: auto;
    text-align: center;
}

.section2 * {
    margin-top: 30px;
    margin-bottom: 30px;
}


.section2Items {
    display: flex;
    justify-content: space-around;
}

.itemContainer {}

.itemSec2 {
    border: 5px solid #3882F6;
    height: 200px;
    width: 200px;
    border-radius: 20px;
    justify-self: center;
    margin-bottom: 0 !important;
}

.itemContainer p {
    margin-top: 5px !important;
    font-size: large;
}

.quoteSection {
    height: 500px;
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: 100;
    font-family: 'Roboto';
    font-style: italic;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.quoteContainer {
    width: 1200px;
}

.bottomSection {
    height: 300px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blueBox {
    width: 1200px;
    border-radius: 10px;
    height: 150px;
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

.actionBtn {
    background-color: #3882F6;
    border: white solid;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    padding: 5px 30px;

}

.blueBoxText p:nth-of-type(2) {
    font-size: 20px;
    font-weight: 100;
    color: #E5E7EB;
}

.footer {
    background-color: #1F2937;
    color: white;
    height: 120px;
    font-size: 20px;
    font-weight: 100;

    display: flex;
    justify-content: center;
    align-items: center;
}